body{
    height: calc(100vh - 100px);
    color: white;
}

body > div{
    height: 100%;
}

.navbar-brand, .navbar-brand:hover{
    color: white;
}

#openerImg{
    width: 30vw;
}


.letter input{
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
    border: solid rgb(192, 192, 192);
    font-size: 2em;
    text-transform: uppercase;
    color: white;
}

.color.green {
    color: rgb(67, 117, 67);
    font-size: small;
}
.color.yellow {
    color: rgb(192, 192, 100);
    font-size: small;
}
.color.grey {
    color: grey;
    font-size: small;
}

#mainArea{
    border-radius:20px;
    margin: 10px auto; /* per azzerare */
    padding: 10px; /* per azzerare */
    background-color: rgb(54, 54, 54);
    border: 5px;
    min-height: 100%;
}

#configArea{
    display: block;
}

#goToSolverBtn{
    margin: 20px;
}

#initArea{
    display: none;
}

#formArea{
  display: none;
}

#wordleTable{
    margin: 10px;
}

#suggestions{
    margin-top: auto;
    display: none;
    height: 50vh;
    overflow: scroll;
}


body{
    background-color: rgb(27, 27, 27);;
}

h2 {
    color: white;
}

.slider {
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.text {
    font-size:26px;
    display: inline-block;
    -webkit-animation: slide-left 6s linear infinite ;
    animation: slide-left 6s linear infinite ;
    color: white;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
    100% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
    100% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}


footer{
    height: 100px;
    color: white;
}
